.borderedContainer {
	position: relative;
	display: flex;
	gap: 16px;
	padding: 16px;
	width: 100%;
	box-shadow: var(--defaultBorderInset);
	border-radius: var(--borderRadiusRegular);
	font-size: 24px;
	line-height: 32px;
	color: var(--dark);
	transition: all .2s ease;
	user-select: none;
	&.withShadow {
		box-shadow: var(--defaultBorderInset);
		.borderedContainer-wrapper {
			box-shadow: var(--shadow);
		}
	}
	&.withoutShadow {
		box-shadow: var(--defaultBorderInset);
		.borderedContainer-wrapper {
			box-shadow: none;
		}
	}
	&.withoutBorder {
		box-shadow: none;
		.borderedContainer-wrapper {
			box-shadow: none;
		}
	}
	&.light {
		background: var(--light);
	}
	&.primary {
		background: var(--primary);
	}
	&.secondary {
		background: var(--secondary);
	}
	&.transparent {
		background: transparent;
	}
	&-wrapper {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: var(--borderRadiusRegular);
		pointer-events: none;
	}
	svg {
		flex-shrink: 0;
		stroke: var(--dark);
	}
}
