.main {
	position: relative;
	height: 100%;
	overflow: visible !important;
}
.canvas {
	padding: 19px;
	height: 100%;
}
.modalRoot {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;
}