.borderedButton {
	display: flex;
	align-items: center;
	height: 64px;
	background: none;
	border: none;
	border-radius: 0;
	font-size: 24px;
	line-height: 32px;
	color: var(--dark);
	cursor: pointer;
	&.empty {
		& > div {
			background: var(--light);
		}
	}
	&.match {
		& > div {
			background: var(--green);
		}
	}
	&.inaccurate {
		& > div {
			background: var(--orange);
		}
	}
	&.miss {
		& > div {
			background: var(--secondary);
		}
	}
}
