.wordle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	& > span {
		display: flex;
		flex-direction: column;
		gap: 16px;
		& > span {
			display: flex;
			justify-content: center;
		}
	}
}