.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px 19px 16px 16px;
	min-width: calc(var(--sidebarWidth) + 3px);
	max-width: calc(var(--sidebarWidth) + 3px);
	width: calc(var(--sidebarWidth) + 3px);
	height: 100%;
	background: var(--light);
	box-shadow: -3px 0 0 var(--dark) inset;
	overflow: hidden;
	transition: all 0.4s ease;
	& > div {
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
	span {
		position: relative;
		opacity: 1;
		left: 0px;
		transition: left 0.2s ease, opacity 0.2s ease;
	}
	&.collapsed {
		min-width: calc(var(--sidebarCollapsedWidth) + 3px);
		max-width: none;
		width: calc(var(--sidebarCollapsedWidth) + 3px);
		span {
			opacity: 0;
			left: 20px;
		}
		.logo {
			svg {
				left: -25px;
				path:not(.puzzle) {
					opacity: 0;
				}
			}
		}
	}
	a {
		text-decoration: none;
	}
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	cursor: pointer;
	svg {
		position: relative;
		top: -6.2px;
		left: 0;
		height: 120px;
		overflow: visible;
		transition: all 0.2s ease;
		path {
			fill: var(--secondary);
			stroke: var(--dark);
			stroke-width: 3px;
			filter: drop-shadow(0 3px var(--dark));
			transition: all 0.2s ease;
			&.puzzle {
				fill: var(--primary);
			}
			&:not(.puzzle) {
				opacity: 1;
			}
		}
	}
}
