@font-face {
	font-family: 'Days One';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/DaysOne-Regular.woff2') format('woff2');
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Days One', sans-serif;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
}

:root {
	--dark: #353535;
	--light: #f9f9f9;
	--primary: #ffd336;
	--secondary: #dbe0e5;
	--background: #dbe0e5;

	--green: #99e311;
	--orange: #ffb400;
	--red: #f94242;

	--borderWidth: 3px;
	--defaultBorderInset: 0 0 0 var(--borderWidth) var(--dark) inset;
	--defaultBorder: 0 0 0 var(--borderWidth) var(--dark);

	--borderRadiusApp: 16px;

	--borderRadiusWide: 32px;
	--borderRadiusRegular: 16px;
	--borderRadiusSmall: 12px;

	--shadow: 0 4px 0 0 var(--dark);

	--sidebarWidth: 260px;
	--sidebarCollapsedWidth: 96px;
}

@media (max-width: 560px) {
	:root {
		--borderWidth: 2px;
		--borderRadiusApp: var(--borderRadiusSmall);
	}
}
